button {
    border: none;
    background: rgb(5, 6, 7);
    color: #f2f2f2;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    }


    button:hover {
        background: rgba(0,0,0,0);
        color: #3e5f8a;
        box-shadow: inset 0 0 0 3px #345d86;
        }
